#securities {
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    background-color: black;

    .normal-header-cell {
        border-right: 1px solid white;
    }

    .trend-header-cell {
        border-right: 1px solid black;
        color: white;
        background-color: rgb(3, 73, 3);
    }

    .trend-cell {
        color: white;
        width: 100% !important;
        background-color: rgb(3, 73, 3);
    }

    .normal-cell {
        border-right: 1px solid white;
        width: 100% !important;
    }

    
}

.data-grid-title {
    padding: 10px 10px;
    background-color: #474d51;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    fill: rgb(255, 255, 255);
}

.MuiDataGrid-row:hover {
    background-color: #10101024 !important;
}

.MuiSvgIcon-root {
    color: white;
}

.MuiToolbar-root {
    color: white;
}